<!-- navbar with image and links -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/dashboard">
    <img
      src="/assets/images/huamnkind.png"      
      alt="humankind logo"
      class="navLogo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/orgIndex">ORGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">SIGN OUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/edit">
          <img
            class="profile-icon"
            src="/assets/images/userCircle.png"
            alt="user image"
        /></a>

      </li>
    </ul>
  </div>
</nav>
