<!-- navbar with image and links -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img
      src="/assets/images/huamnkind.png"
      width="120"
      height="40"
      alt="humankind logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/signup">SIGN UP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orgSignup">NON-PROFIT</a>
      </li>
    </ul>
  </div>
</nav>
