<!-- adds header.ejs -->
<%- include("partials/header") %>

<div class="splash-logo">
    <p>find human</p>
    <p>be kind</p>
</div>
<a class="logo-splash" href="/dashboard">human:kind</a>
<div class="splash-images">
    <div class="cf first">
        <img src="assets/images/people/sofa2.jpg" alt="">
        <img src="assets/images/people/beanie.jpg" alt="">
        <img src="assets/images/people/blonde.jpg" alt="">
        <img src="assets/images/people/glasses.jpg" alt="">
        <img src="assets/images/people/overalls.jpg" alt="">
        <img src="assets/images/people/blonde2.jpg" alt="">
        <img src="assets/images/people/wink.jpg" alt="">
        <img src="assets/images/people/cap.jpg" alt="">
        <img src="assets/images/people/trees.jpg" alt="">
        <img src="assets/images/people/clouds.jpg" alt="">
    </div>
    <!-- <div class="cf second align-top">
        <img src="assets/images/people/sofa2.jpg" alt="">
        <img src="assets/images/people/beanie.jpg" alt="">
        <img src="assets/images/people/trees.jpg" alt="">
        <img src="assets/images/people/cap.jpg" alt="">
        <img src="assets/images/people/wink.jpg" alt="">
        <img src="assets/images/people/overalls.jpg" alt="">
        <img src="assets/images/people/skate.jpg" alt="">
        <img src="assets/images/people/drink.jpg" alt="">
        <img src="assets/images/people/tshirt.jpg" alt="">
        <img src="assets/images/people/blonde.jpg" alt="">
    </div>
    <div class="cf third">
        <img src="assets/images/people/sofa2.jpg" alt="">
        <img src="assets/images/people/beanie.jpg" alt="">
        <img src="assets/images/people/trees.jpg" alt="">
        <img src="assets/images/people/cap.jpg" alt="">
        <img src="assets/images/people/wink.jpg" alt="">
        <img src="assets/images/people/overalls.jpg" alt="">
        <img src="assets/images/people/skate.jpg" alt="">
        <img src="assets/images/people/drink.jpg" alt="">
        <img src="assets/images/people/tshirt.jpg" alt="">
        <img src="assets/images/people/blonde.jpg" alt="">
    </div>
    <div class="cf fourth align-top">
        <img src="assets/images/people/sofa2.jpg" alt="">
        <img src="assets/images/people/beanie.jpg" alt="">
        <img src="assets/images/people/trees.jpg" alt="">
        <img src="assets/images/people/cap.jpg" alt="">
        <img src="assets/images/people/wink.jpg" alt="">
        <img src="assets/images/people/overalls.jpg" alt="">
        <img src="assets/images/people/skate.jpg" alt="">
        <img src="assets/images/people/drink.jpg" alt="">
        <img src="assets/images/people/tshirt.jpg" alt="">
        <img src="assets/images/people/blonde.jpg" alt="">
    </div>
    <div class="cf fifth">
        <img src="assets/images/people/sofa2.jpg" alt="">
        <img src="assets/images/people/beanie.jpg" alt="">
        <img src="assets/images/people/trees.jpg" alt="">
        <img src="assets/images/people/cap.jpg" alt="">
        <img src="assets/images/people/wink.jpg" alt="">
        <img src="assets/images/people/overalls.jpg" alt="">
        <img src="assets/images/people/skate.jpg" alt="">
        <img src="assets/images/people/drink.jpg" alt="">
        <img src="assets/images/people/tshirt.jpg" alt="">
        <img src="assets/images/people/blonde.jpg" alt="">
    </div> -->
</div>

<div class="splash-buttons">
    <a class="button" href="/signup" role="button">Sign Up</a>
    <a class="button" href="/login" role="button">Enter</a>
</div>

<h1 id="splash-tagline">make a friend while making a difference.</h1>

<!-- adds footer.ejs -->
<%- include("partials/footer") %>