<!-- adds header.ejs -->
<%- include("partials/header") %>

<div class="container centered centered-vert">
    <a class="button" href="/signup" role="button">Sign Up</a>
    <a class="button" href="/login" role="button">Enter</a>
    <!-- <a class="btn btn-warning btn-lg" href="/orgSignup" role="button">I'm a NonProfit</a> -->
</div>

<!-- adds footer.ejs -->
<%- include("partials/footer") %>