<!-- adds header.ejs -->
<%- include("partials/header") %>

<div class="container centered centered-vert">
    <h1>Welcome to</h1>
    
    <img src="/assets/images/huamnkind.png" class="logo" alt="huamnkind Logo">

    <br><br>

    <h3>MAKE A FRIEND WHILE MAKING A DIFFERENCE</h3>
   
    <br><br>

    <a class="btn btn-info btn-lg" href="/signup" role="button">I'm New</a>
    <a class="btn btn-info btn-lg" href="/login" role="button">I'm Back</a>
    <a class="btn btn-warning btn-lg" href="/orgSignup" role="button">I'm a NonProfit</a>

</div>

<!-- All the above are also in the navbar -->

<!-- adds footer.ejs -->
<%- include("partials/footer") %>