<!-- adds header.ejs -->
<%- include("partials/header") %>

<div class="container" id="homepage">
    <h1>Welcome to</h1>
    
    <img src="/assets/images/voluntender.png" class="logo" alt="Voluntender Logo">

    <br><br>

    <a class="btn btn-info btn-lg" href="/signup" role="button">Start profile now!</a>
    <a class="btn btn-info btn-lg" href="/login" role="button">I have an account</a>
    <a class="btn btn-warning btn-lg" href="/orgSignup" role="button">I'm a NonProfit</a>

</div>

<!-- All the above are also in the navbar -->

<!-- adds footer.ejs -->
<%- include("partials/footer") %>