<!-- adds header.ejs -->
<%- include("partials/header") %>

<h1>Welcome to VolunTender!</h1>


<button a href="/signup">Sign up</a>
<button a href="/login">Login</a>
<button a href="/orgSignup">Non Profit Sign up</a>

<!-- All the above are also in the navbar -->


<!-- adds footer.ejs -->
<%- include("partials/footer") %>