<!-- adds header.ejs -->
<%- include("partials/header") %>
<%- include("partials/outNavbar") %>

<div class="container login">
    <form action="/login" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username">
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password">
        <br><br>
        <button type="submit">Login</button>
    </form>

</div>
<!-- adds footer.ejs -->
<%- include("partials/footer") %>

