<!-- adds header.ejs -->
<%- include("partials/header") %>

<div class="container">
    <h1>Login Page</h1><br><br>

    <form action="/login" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="username">
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="password">
        <br><br>
        <button type="submit" class="btn btn-info btn-lg">Login for matches</button>
    </form>

</div>
<!-- adds footer.ejs -->
<%- include("partials/footer") %>

