<!-- adds header.ejs -->
<%- include("partials/header") %>

<!-- list of top 5 showing name, age, gender, pic, bio, and org matches in common with events available -->

<div class="container">
  <div class="col orgIndex">
    <h3 class="text-center mt-5">Index of organizations</h3>

    <!-- Animals -->
    <h2 id="animals">Animals</h2>
    <ul class="orgs-list">
      <li><a href="#">Austin Animal Center</a></li>
      <li><a href="#">Austin Pets Alive</a></li>
      <li><a href="#">Emancipet</a></li>
      <li><a href="#">Humane Heroes</a></li>
      <li><a href="#">Therapy Pet Pals of Texas</a></li>
      <li><a href="#">Town Lake Animal Shelter</a></li>
      <li><a href="#">Wildlife Austin</a></li>
    </ul>

    <!-- Community Organizing -->
    <h2 id="community">Community Organizing</h2>
    <ul class="orgs-list">
      <li><a href="#">Austin Neighborhood Council</a></li>
      <li><a href="#">Austin Free-Net</a></li>
      <li><a href="#">Friends of Austin Neighborhoods</a></li>
      <li><a href="#">Metropolitan Austin Interactive Network (MAIN)</a></li>
      <li><a href="#">Mission Capital</a></li>
      <li><a href="#">In Our Backyards</a></li>
    </ul>

    <!-- Elderly -->
    <h2 id="elderly">Elderly</h2>
    <ul class="orgs-list">
      <li><a href="#">AGE of Central Texas</a></li>
      <li><a href="#">Alzheimer’s Texas</a></li>
      <li><a href="#">Austin Gay & Lesbian Senior Services</a></li>
      <li><a href="#">Drive a Senior - West Austin</a></li>
      <li><a href="#">South Austin Senior Activity Center</a></li>
      <li><a href="#">Meals on Wheels Central Texas - Greater Austin Area</a></li>
      <li><a href="#">Therapy Pet Pals of Texas</a></li>
      <li><a href="#">Youth2Seniors</a></li>
    </ul>
    
    <!-- Food and Hunger -->
    <h2 id="hunger">Food & Hunger</h2>
    <ul class="orgs-list">
      <li><a href="#">Central Texas Food Bank</a></li>
      <li><a href="#">Coalition of Austin Community Gardens </a></li>
      <li><a href="#">Meals on Wheels Central Texas - Greater Austin Area</a></li>
      <li><a href="#">Mobile Loaves & Fishes</a></li>
      <li><a href="#">Red Cross</a></li>
      <li><a href="#">Red Cross</a></li>
      <li><a href="#">Resolution Gardens</a></li>
      <li><a href="#">United Way of Williamson County</a></li>
      <li><a href="#">Wildlife Austin</a></li>
    </ul>
    <!-- Housing -->
    <h2 id="housing">Housing</h2>
    <ul class="orgs-list">
      <li><a href="#">Austin Tenants’ Council</a></li>
      <li><a href="#">Caritas of Austin</a></li>
      <li><a href="#">Foundation Communities</a></li>
      <li><a href="#">Front Steps</a></li>
      <li><a href="#">Street Youth Ministry of Austin</a></li>
    </ul>
    <!-- Incarceration -->
    <h2 id="incarceration">Incarceration</h2>
    <ul class="orgs-list">
      <li><a href="#">Council on At-Risk Youth</a></li>
      <li><a href="#">Grassroots Leadership</a></li>
      <li><a href="#">Inside Books Project</a></li>
      <li><a href="#">Jail To Jobs</a></li>
      <li><a href="#">Seedling</a></li>
      <li><a href="#">Texas Criminal Justice Coalition</a></li>
      <li><a href="#">Texas Fair Defense Project</a></li>
      <li><a href="#">Women's Storybook Project</a></li>
    </ul>
    <!-- LGBTQ -->
    <h2 id="LGBTQ+">LBGTQ+</h2>
    <ul class="orgs-list">
      <li><a href="#">AIDS Services of Austin</a></li>
      <li><a href="#">Austin Gay and Lesbian Pride Foundation</a></li>
      <li><a href="#">Austin Gay & Lesbian Senior Services</a></li>
      <li><a href="#">Equality Texas</a></li>
      <li><a href="#">Out Youth</a></li>
      <li><a href="#">PFLAG Austin</a></li>
      <li><a href="#">Project Transitions</a></li>
      <li><a href="#">The Kind Clinic</a></li>
      <li><a href="#">The Q Austin</a></li>
      <li><a href="#">Central Texas Transgender Health Coalition</a></li>
      <li><a href="#">Waterloo Counseling Center</a></li>
    </ul>

    <!-- Environment -->
    <h2 id="environment">Environment</h2>
    <ul class="orgs-list">
      <li><a href="#">Austin Parks Foundation</a></li>
      <li><a href="#">Keep Austin Beautiful</a></li>
      <li><a href="#">Save Our Springs Alliance</a></li>
    </ul>
  </div>
</div>

<!-- adds footer.ejs -->
<%- include("partials/footer") %>
