<!-- adds header.ejs -->
<%- include("partials/header") %>

<!-- list of top 5 showing name, age, gender, pic, bio, and org matches in common with events available -->

<div class="container">
  <div class="col">
    <h1 class="text-center mt-5">Index of organizations</h1>

    <!-- Animals -->
    <h3 id="animals-orgs">Animals</h3>
    <ul class="orgs-list">
      <li><a href="#">Austin Pets Alive</a></li>
      <li><a href="#">Town Lake Animal Shelter</a></li>
      <li><a href="#">Therapy Pet Pals of Texas</a></li>
    </ul>

    <!-- Community Organizing -->
    <h3 id="community-orgs">Community Organizing</h3>

    <!-- Elderly -->
    <h3 id="elderly-orgs">Elderly</h3>
    <ul class="orgs-list">
      <li><a href="#">South Austin Senior Activity Center</a></li>
      <li><a href="#">Meals On Wheels</a></li>
      <li><a href="#">Therapy Pet Pals of Texas</a></li>
    </ul>
    
    <!-- Food and Hunger -->
    <h3 id="food-orgs">Food & Hunger</h3>

    <!-- Housing -->
    <h3 id="housing-orgs">Housing</h3>

    <!-- Incarceration -->
    <h3 id="incarceration-orgs">Incarceration</h3>

    <!-- LGBTQ -->
    <h3 id="lgbtq-orgs">LBGTQ+</h3>

    <!-- Neighborhood Cleanup -->
    <h3 id="neighborhood-orgs">Neighborhood Cleanup</h3>

  </div>
</div>

<!-- adds footer.ejs -->
<%- include("partials/footer") %>
