<!-- adds header.ejs -->
<%- include("partials/header") %>

<h1>Sign Up for NonProfit Organizations</h1>

<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">


<!-- Plus all the other profiles questions -->



    <button>Submit</button>
</form>

<!-- adds footer.ejs -->
<%- include("partials/footer") %>