<!-- adds header.ejs -->
<%- include("partials/header") %>

<h1>These are your matches!</h1>
<!-- list of top 5 showing name, age, gender, pic, bio, and org matches in common with events available -->

<button a href="/logout">Log out</a>


<!-- adds footer.ejs -->
<%- include("partials/footer") %>