<%- include("partials/header") %>
<%- include("partials/outNavbar") %>
  
    <div class="container signup">
      <p class="instruction">All fields required</p>
      <form action="/signup" method="post" enctype="multipart/form-data">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" required>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname" required>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
        <label for="pw">create a password (min. 6 chars):</label>
        <input type="password" id="pw" name="password" required>
        <label for="uname">Create a username:</label>
        <input type="text" id="uname" name="username" required>
        
        <label for="bio">Describe yourself (max. 60 chars):</span></label>
        <textarea id="bio" name="bio" cols="80" rows="1" maxlength="60"></textarea>

        
        <div class="bubbles radio-only">
          <p class="label">Age:</p>
          <input type="radio" name="age" id="0-20" value="0-20">
          <label class="radio" for="0-20">Under 20</label>
          <input type="radio" name="age" id="20-30" value="20-30">
          <label class="radio" for="20-30">20-30</label>
          <input type="radio" name="age" id="30-40" value="30-40">
          <label class="radio" for="30-40">30-40</label>
          <input type="radio" name="age" id="40-50" value="40-50">
          <label class="radio" for="40-50">40-50</label>
          <input type="radio" name="age" id="50-60" value="50-60">  
          <label class="radio" for="50-60">50-60</label>
          <input type="radio" name="age" id="60-70" value="60-70">
          <label class="radio" for="60-70">60-70</label>
          <input type="radio" name="age" id="70+" value="70+">
          <label class="radio" for="70+">70+</label>
        </div>
        
        
        <div class="bubbles radio-only">
          <p class="label">Gender:</p>
          <input type="radio" name="gender" id="female" value="female">
          <label class="radio" for="female">Female</label>
          <input type="radio" name="gender" id="male" value="male">
          <label class="radio" for="male">Male</label>
          <input type="radio" name="gender" id="nonbinary" value="nonbinary">
          <label class="radio" for="nonbinary">Nonbinary</label>
          <input type="radio" name="gender" id="other" value="other">
          <label class="radio" for="other">Other</label>
        </div>
        
        
        <div class="bubbles check-only">
          <p class="label">What social issues are you interested in?</p>
          <input type="checkbox" id="animals" name="interests" value="animals">
          <label for="animals">Animals</label>
          <input type="checkbox" id="housing" name="interests" value="housing">
          <label for="housing">Housing</label>
          <input type="checkbox" id="cleanup" name="interests" value="environment">
          <label for="cleanup">Environment</label>
          <input type="checkbox" id="food" name="interests" value="hunger">
          <label for="food">Food & Hunger</label>
          <input type="checkbox" id="organizing" name="interests" value="community">
          <label for="organizing">Community Organizing</label>
          <input type="checkbox" id="lgbtq" name="interests" value="LGBTQ+">
          <label for="lgbtq">LGBTQ+</label>
          <input type="checkbox" id="elderly" name="interests" value="elderly">
          <label for="elderly">Elderly</label>
          <input type="checkbox" id="incarceration" name="interests" value="incarceration">
          <label for="incarceration">Incarceration</label>
        </div>

        <!-- <label for="pic">Add a profile image:</label><br>
        <input type='file' name='image' id='pic' required/> -->
      <img id="preview" src="/assets/images/guy.jpeg" alt="">
      <label for="pic">Add a profile image:</label>
      
      <input
        type="file"
        name="image"
        id="pic"
        onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0]); document.getElementById('preview').style = 'height:350px;margin-bottom:40px';"
      />
      
       <input type="submit" class="button" value="Sign Up">

    </form>
    </div>

<%- include("partials/footer") %>