* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  
}

/* ------------------------------------------------------------- GENERAL CONTAINERS, DIVS, SPACING  */

body {
  background-color: powderblue;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;  /* base font size */
}
.container, .container-md {
  margin: 40px auto;
  /* text-align: center; */
  padding: 25px auto;
}
.padright {   /* for radio buttons and checkboxes */
    margin-right: 10px;
}
.centered {
  text-align: center;
}

/* ------------------------------------------------------------- GENERAL TYPOGRAPHY */

p {
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.1rem;
  margin-bottom: 15px;
}
h1 {
  font-size: 2em;
  font-weight: 600;
}
h6 {  /* username on dashboard saved matches cards */
  font-weight: 600;
  margin-bottom: 0;
}

/* ------------------------------------------------------------- UNIQUE ELEMENTS */

.logo {
  width: 80%;
}
.profile-icon {
  width: 30px;
  height: auto;
  margin-left: 20px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}

/* ------------------------------------------------------------- FORM & INPUT ELEMENTS */

span {
  text-transform: uppercase;
  font-size: 0.8rem;
}
label {
  color: rgb(7, 7, 7);
  margin-bottom: 5px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 15px;
  margin: 0 0 30px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 2px;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* img upload button input container */
input#pic {
  background-color: rgba(255, 255, 255, 0.233);
  padding: 20px;
  border-radius: 8px;
}
/* img upload button */
input[type=file]::file-selector-button {
  border: 1px solid #198754;
  color: #198754;
  border-radius: .2em;
  padding: .4em .8em;
  margin: 0 20px 0 0;
  background-color: white;
  cursor: pointer;
}
input[type=radio] {
  background-color: yellow;
  padding: 10px;
  margin: 5px;
}
textarea {
  padding: 15px;
  border-radius: 3px;
}

/* ------------------------------------------------------------- BUTTONS */

button, input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover, input[type=submit]:hover {
  opacity:1;
}
.btn-tiny {
  font-size: 0.7rem;
  color: rgb(49, 49, 49);
  line-height: 1;
  padding: 4px 8px;
  margin-left: 10px;
  border-radius: 2px;
  background-color: rgb(228, 228, 228);
}
.cancelbtn {  /* is this being used? */
  padding: 14px 20px;
  background-color: #f44336;
}

/* ------------------------------------------------------------- EDIT.EJS  */

#preview { /* preview of profile image upldoad  */
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

/* ------------------------------------------------------------- DASHBOARD.EJS  */

#dashboard-welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.welcome-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.welcome-left img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 10px 0 0;
}
.dashcard {
  font-size: 0.8rem;
  height: auto;
  border-radius: 12px;
  padding: 10px;
  margin: 0 3px 3px 0;
}
.dashcard .contents {
  display: flex;
  flex-direction: row;
}
.dashcard p {
  margin-bottom: 0;
}
.dashcard img {
  width: 115px;
  height: 115px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.dashcard .info {
  display: flex;
  width: calc(100% - 125px);  /* calculate width of card minus width/margin of img */
  flex-direction: column;
  justify-content: space-between;
}
.dashcard .links {
  display: flex;
  justify-content: flex-end;
}

/* ------------------------------------------------------------- ORGINDEX.EJS  */

.orgs-list {
  list-style: none;
}
.orgIndex li {
  font-size: 2rem;
}
.orgIndex li:last-child {
  margin-bottom: 100px;
}


/* ------------------------------------------------------------- MEDIA QUERY: SMALL SCREENS  */

@media screen and (max-width: 750px) {

  .container, .container-md {
    margin: 20px auto;
    padding: 0 auto;
  }

.card-img-top {  
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.img-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.navbar-brand {
  padding: 0;
}

.navbar-nav .nav-link {
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.far fa-user-circle {
  width: 50px;
  height: 50px;
}

  #dashboard-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .welcome-left {
    width: 100%;
    align-items: flex-start;
  }
  .welcome-left img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }
  .welcome-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .welcome-right .btn {
    width: 50%;
    margin: 40px auto 0;
  }
 
}
