* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

/* ------------------------------------------------------------- GENERAL CONTAINERS, DIVS, SPACING  */

body {
  background-color: #E0E9E8;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* base font size */
  color: #212121;
}
.container,
.container-md {
  margin: 40px auto;
  /* text-align: center; */
  padding: 25px auto;
}
.padright {
  /* for radio buttons and checkboxes */
  margin-right: 10px;
}
.centered {
  text-align: center;
}

/* ------------------------------------------------------------- GENERAL TYPOGRAPHY */

p {
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.1rem;
  margin-bottom: 15px;
  color: #212121;
}
a {
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  color: #38605D;
}
h1 {
  font-size: 2em;
  font-weight: 600;
  color: #38605D;
}
h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #38605D;
  letter-spacing: 0.06rem;
}
h3 {
  /* username on results matches cards */
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0;
  color: #38605D;
}
h4 {
  /* username on dashboard saved matches cards */
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0;
  color: #38605D;
}
.info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #38605D;
  margin-bottom: 0;
}
.info-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #38605D;
  letter-spacing: 0.1em;
  margin: 0;
}
.navbar, .navbar-light .bg-light {
  background-color: white !important;
}

/* ------------------------------------------------------------- UNIQUE ELEMENTS */

.logo {
  width: 80%;
  color: #38605D;
}
.profile-icon {
  width: 40px;
  height: 40px;
  background-color: #38605D;
  border-radius: 100%;
  margin-left: 20px;

}
.navbar-nav {
  display: flex;
  align-items: center;
}

/* ------------------------------------------------------------- FORM & INPUT ELEMENTS */

span {
  text-transform: uppercase;
  font-size: 0.8rem;
}
label {
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.1rem;
  margin-bottom: 5px;
  color: #212121;
}
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 8px 15px;
  margin: 0 0 30px 0;
  display: inline-block;
  border: 1px solid #E8E8E8;
  background: #ffffff;
  border-radius: 2px;
}
input[type='text']:focus,
input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}
/* img upload button input container */
input#pic {
  background-color: #38605d21;
  padding: 20px;
  border-radius: 8px;
}
/* img upload button */
input[type='file']::file-selector-button {
  border: 1px solid #38605D;
  color: #38605D;
  border-radius: 0.2em;
  padding: 0.4em 0.8em;
  margin: 0 20px 0 0;
  background-color: white;
  cursor: pointer;
}
textarea {
  padding: 15px;
  border-radius: 3px;
}
/* bubble boxes */
.bubbles label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  color: #38605D;
  border-radius: 25px;
  white-space: nowrap;
  margin: 0px 2px 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
  padding: 12px 16px 10px 16px;
  cursor: pointer;
}
.bubbles input[type='radio'] {
  display: absolute;
  position: absolute;
  opacity: 0;
}
.bubbles input[type='radio']:checked + label {
  background-color: #38605D;
  color: #fff;
  transition: all 0.2s;
}
.bubbles input[type='checkbox'] {
  display: absolute;
  position: absolute;
  opacity: 0;
}
.bubbles input[type='checkbox']:checked + label {
  background-color: #38605D;
  color: #fff;
  transition: all 0.2s;
}

/* ------------------------------------------------------------- BUTTONS */

.btn:active, .btn:focus, .btn-md:focus, btn-sm:active, .btn.md:active, .btn-primary:active, .btn-info:active, button:active, input[type='submit']:active {
  background-color: #38605D !important;
  border: none !important;
  box-shadow: none !important;
  background-image: none !important;
}
button,
input[type='submit'] {
  background-color: #38605D;
  color: white;
  padding: 14px 20px;
  margin:  0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover,
input[type='submit']:hover {
  opacity: 1;
}

.btn-msg-medium {
  font-size: 0.8rem;
  color: #38605D;
  line-height: 1;
  padding: 8px 16px;
  /* margin-left: 10px; */
  border-radius: 2px;
  background-color: rgb(228, 228, 228);
}
.btn-tiny, .btn-to-chat {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
  padding: 8px 16px;
  margin: 0 0 0 5px;
  width: auto;
  border-radius: 2px;
  background-color: #38605D;
  text-transform: capitalize;
  opacity: 0.9;
}
.btn-tiny {
  background-color: #e6e6e6;
  color: #38605D;
  opacity: 0.9;
}
.btn-tiny:hover {
opacity: 1;
text-decoration: none;
color: #212121;
}

.results-save {
  width: auto;
  margin-left: 50%;
  padding-left: 40px;
  padding-right: 40px;
  transform: translateX(-50%);
}
.btn-primary, .btn-info, .btn-md, .btn {
  background-color: #38605D;
  border: none;
  opacity: 0.9;
  color: white;
}
.btn-alt {
  background-color: #B6CBC9;
}
.btn-primary:hover, .btn-info:hover, .btn-md:hover, button:hover, input[type='submit']:hover, .btn:hover {
  background-color: #38605D;
  border: none;
  color: white;
  opacity: 1;
  text-decoration: none;
}
/* .cancelbtn {  /* is this being used? */
/* padding: 14px 20px; */
/* background-color: #f44336; */
/* } */

/* ------------------------------------------------------------- EDIT.EJS  */

#preview {
  /* preview of profile image upldoad  */
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}

/* ------------------------------------------------------------- RESULTS.EJS  */

.results-top {
  /* top headline and top button  */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.col:first-child {
  padding-left: 0;
}
.col:last-child {
  padding-right: 0;
}
.results-card {
  height: 500px;
}
.results-card img {
  width: calc(100% - 20px);
  height: 45%;
  margin: 10px auto 0;
  object-fit: cover;
  border-radius: 8px;
}
.results-card .bio {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}
.card-header h3 {
  margin-bottom: 0;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.results-card .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.results-card .info-label {
  margin-bottom: 4px;
}
.age-gender {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.results-interests {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: capitalize;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 214, 255);
  color: #38605D;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 0 1px 4px;
}

/* ------------------------------------------------------------- DASHBOARD.EJS  */

#dashboard-welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.welcome-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.welcome-left img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 10px 0 0;
}
.dashcard {
  font-size: 0.8rem;
  height: auto;
  border-radius: 12px;
  padding: 10px;
  margin: 0 3px 3px 0;
}
.dashcard .contents {
  display: flex;
  flex-direction: row;
}
.dashcard p {
  margin-bottom: 0;
}
.dashcard img {
  width: 115px;
  height: 115px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.dashcard .info {
  display: flex;
  width: calc(
    100% - 125px
  ); /* calculate width of card minus width/margin of img */
  flex-direction: column;
  justify-content: space-between;
}
.dashcard .links {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px 0 0 ;
}

/* ------------------------------------------------------------- ORGINDEX.EJS  */

.orgs-list {
  list-style: none;
}
.orgIndex li {
  font-size: 2rem;
}
.orgIndex li:last-child {
  margin-bottom: 100px;
}
.orgIndex h2 {
  color:rgb(156, 156, 156);
}

/* ------------------------------------------------------------- CHAT.EJS  */

.chat-pic {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}
.chat-welcome {
  display: flex;
  align-items: center;
}
.chat-group {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0 10px 0 0;
  border-radius: 8px;
  margin: 0 6px;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0;
  color: #38605D;
}

/* ------------------------------------------------------------- MEDIA QUERY: SMALL SCREENS  */

@media screen and (max-width: 750px) {
  .container,
  .container-md {
    margin: 20px auto;
    padding: 0 auto;
  }
}

  .card-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }

  .img-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

.navLogo {
  width: 120px;
  height: 40px;
}

.navbar-brand {
  padding: 0;
}

.navbar-nav .nav-link {
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.profile-icon {
  width: 35px;
  height: 35px;
}

  #dashboard-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .welcome-left {
    width: 100%;
    align-items: flex-start;
  }
  .welcome-left img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }
  .welcome-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .welcome-right .btn {
    width: 50%;
    margin: 40px auto 0;
  }
 
