/* font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

/* ------------------------------------------------------------- GENERAL CONTAINERS, DIVS, SPACING  */

body {
  background-color: #272727;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px; /* base font size */
  color: #525252;
}
.navbar-logo-centered {
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 32px 0 0;
}
.container,
.container-md {
  margin: 127px auto;
}
.signup {
  width: 360px;
  padding: 0;
}
.centered {
  text-align: center;
}
.centered-vert { /*  homepage centering */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.centered-vert h3 { /*  homepage centering */
  margin-bottom: 40px;
}


/* ------------------------------------------------------------- GENERAL TYPOGRAPHY */

p {
   font-size: 12px;
   letter-spacing: 0.1em;
   color: #656565;
}
p.label, label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #656565;
  margin-top: 1px;
}
p.instruction {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #656565;
  font-style: italic;
  margin-bottom: 30px;
}
a, a:hover {
  text-decoration: none;
  color: #e3e3e3;
}


/* ------------------------------------------------------------- UNIQUE ELEMENTS */

.logo-small {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.2%;
  color: #e3e3e3;
}
.profile-icon {
  width: 40px;
  height: 40px;
  background-color: #3E3E3E;
  border-radius: 100%;
  margin-left: 20px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}

/* ------------------------------------------------------------- FORM & INPUT ELEMENTS */

input[type='text'],
input[type='password'] {
  width: 100%;
  height: 40px;
  padding: 8px 15px;
  margin: 0 0 16px 0;
  display: inline-block;
  background: #353535;
  border-radius: 0;
  color: #9A9A9A;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}
input[type='text']:focus,
input[type='password']:focus {
  background-color: #353535;
  outline: none;
}
/* img upload button input container */
/* input#pic {
  background-color: #3E3E3E;
  padding: 20px;
  border-radius: 8px;
} */
/* img upload button */
input[type='file'] {
  height: 40px;
  margin: 0 0 16px 0;
  background: #323232;
  border-radius: 6px;
  color: red;
  /* color: rgba(0, 0, 0, 0); */
  width: 100%;
  cursor: pointer;
}
input[type='file']::before {
  content: "+ ADD PHOTO";
  color: #9a9a9a;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 11px;
}
input[type='file']:hover::before {
  color: white;
 }
input[type='file']::file-selector-button {
  border: none;
  color: #353535;
  border-radius: 0.2em;
  padding: 0.4em 0.8em;
  margin: 0 20px 0 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
input[type='file']::file-selector-button::after {
  display: none;
}
textarea {
  width: 100%;
  width: 100%;
  height: 60px;
  padding: 8px 15px;
  display: inline-block;
  background: #353535;
  border-radius: 0;
  color: #9A9A9A;
  letter-spacing: 0.1em;
}
textarea:focus {
  background-color: #353535;
  outline: none;
}
#bio {
  margin-bottom: 40px;
}
/* bubble boxes */
.bubbles {
  margin-bottom: 32px;
}
.radio-only label, .check-only label {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #525252;
  color: #9A9A9A;
  border-radius: 2px;
  white-space: nowrap;
  margin: 0px 4px 8px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
  padding: 1px 5px 0;
  cursor: pointer;
  text-align: center;
}
.bubbles p.label {
  padding: 0;
  margin: 0 0 8px 0;
}
.bubbles input[type='radio'] {
  display: absolute;
  position: absolute;
  opacity: 0;
}
.bubbles input[type='radio']:checked + label {
  background-color: #9a9a9a;
  color: #232323;
  transition: all 0.2s;
}
.bubbles input[type='checkbox'] {
  display: absolute;
  position: absolute;
  opacity: 0;
}
.bubbles input[type='checkbox']:checked + label {
  background-color: #9a9a9a;
  color: #232323;
  transition: all 0.2s;
}
.radio-only label:hover, .check-only label:hover {
  color: white;
}
.signup .label {
  display: inline-block;
}
.signup #pic {
  margin-bottom: 16px;
}

/* ------------------------------------------------------------- BUTTONS */

button,
.button,
input[type='submit'] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232323;
  color: white;
  letter-spacing: 7.5%;
  border: none;
  cursor: pointer;
  width: 170px;
  height: 42px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.2s linear;
}
button:hover,
.button:hover,
input[type='submit']:hover {
  background-color: #323232;
  color: white;
  text-decoration: none;
}

.btn-msg-medium {
  font-size: 0.8rem;
  color: #3E3E3E;
  line-height: 1;
  padding: 8px 16px;
  /* margin-left: 10px; */
  border-radius: 2px;
  background-color: rgb(228, 228, 228);
}
.btn-tiny, .btn-to-chat {
  color: #ffffff;
  padding: 8px 16px;
  margin: 0 0 0 5px;
  width: auto;
  border-radius: 2px;
  background-color: #38605D;
  text-transform: capitalize;
  opacity: 0.9;
}
.btn-tiny {
  background-color: #e6e6e6;
  color: #3E3E3E;
  opacity: 0.9;
}
.btn-tiny:hover {
opacity: 1;
text-decoration: none;
color: #212121;
}
.results-save {
  width: auto;
  margin-left: 50%;
  padding-left: 40px;
  padding-right: 40px;
  transform: translateX(-50%);
}

/* ------------------------------------------------------------- EDIT.EJS  */

#preview {
  /* preview of profile image upldoad  */
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 40px;
  position: relative;
  right: 0;
}

/* ------------------------------------------------------------- RESULTS.EJS  */

.results-top {
  /* top headline and top button  */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.col:first-child {
  padding-left: 0;
}
.col:last-child {
  padding-right: 0;
}
.results-card {
  height: 500px;
}
.results-card img {
  width: calc(100% - 20px);
  height: 45%;
  margin: 10px auto 0;
  object-fit: cover;
  border-radius: 8px;
}
.results-card .bio {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}
.card-header h3 {
  margin-bottom: 0;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.results-card .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.results-card .info-label {
  margin-bottom: 4px;
}
.age-gender {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.results-interests {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: capitalize;
  background-color: rgb(255, 255, 255);
  color: #3E3E3E;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 0 1px 4px;
}

/* ------------------------------------------------------------- DASHBOARD.EJS  */

#dashboard-welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.welcome-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.welcome-left img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 10px 0 0;
}
.dashcard {
  font-size: 0.8rem;
  height: auto;
  border-radius: 12px;
  padding: 10px;
  margin: 0 3px 3px 0;
}
.dashcard .contents {
  display: flex;
  flex-direction: row;
}
.dashcard p {
  margin-bottom: 0;
}
.dashcard img {
  width: 115px;
  height: 115px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.dashcard .info {
  display: flex;
  width: calc(
    100% - 125px
  ); /* calculate width of card minus width/margin of img */
  flex-direction: column;
  justify-content: space-between;
}
.dashcard .links {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px 0 0 ;
}

/* ------------------------------------------------------------- ORGINDEX.EJS  */

.orgs-list {
  list-style: none;
}
.orgIndex li {
  font-size: 2rem;
}
.orgIndex li:last-child {
  margin-bottom: 100px;
}
.orgIndex h2 {
  color:rgb(156, 156, 156);
}

/* ------------------------------------------------------------- CHAT.EJS  */

.chat-pic {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}
.chat-welcome {
  display: flex;
  align-items: center;
}
.chat-group {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0 10px 0 0;
  border-radius: 8px;
  margin: 0 6px;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0;
  color: #3E3E3E;
}

/* ------------------------------------------------------------- MEDIA QUERY: SMALL SCREENS  */

@media screen and (max-width: 750px) {
  .container,
  .container-md {
    margin: 20px auto;
    padding: 0 auto;
  }

  .card-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }

  .img-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

.navbar-nav .nav-link {
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.far fa-user-circle {
  width: 50px;
  height: 50px;
}

  #dashboard-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .welcome-left {
    width: 100%;
    align-items: flex-start;
  }
  .welcome-left img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }
  .welcome-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .welcome-right .btn {
    width: 50%;
    margin: 40px auto 0;
  }
}
