* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  
}

h1 {
 font-weight: bold; 
 font-size: 4em;
}

body {
  background-color: powderblue;
  }

.logo {
  width: 80%;
}

label{
  color: rgb(54, 54, 54);
  font-size: 0.9rem;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
}

#label-avatar1 {
  background-image: url("../assets/images/Avatar1.png");
}

#label-avatar2 {
  background-image: url("../assets/images/Avatar2.png");
}

#label-avatar3 {
  background-image: url("../assets/images/Avatar3.png");
}

#label-avatar4 {
  background-image: url("../assets/images/Avatar4.png");
}

#label-avatar5 {
  background-image: url("../assets/images/Avatar5.png");
}

#label-avatar6 {
  background-image: url("../assets/images/Avatar6.png");
}

#label-avatar7 {
  background-image: url("../assets/images/Avatar7.png");
}

#label-avatar8 {
  background-image: url("../assets/images/Avatar8.png");
}

.avatars {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

form p {
  color: rgb(54, 54, 54);
  font-size: 0.9rem;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
}

.padright {
  margin-right: 10px;
}

p span {
  color: rgb(185, 185, 185);
  font-style: italic;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 15px;
  margin: 0 0 30px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 2px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

textarea {
  padding: 15px;
  border-radius: 3px;
}

input[type=radio] {
  background-color: yellow;
  padding: 10px;
  margin: 5px;
}

/* Set a style for all buttons */
button, input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover, input[type=submit]:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  margin: 40px auto;
  /* text-align: center; */
  padding: 25px auto;
}

#homepage {
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

span {
  float: right;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
